#contenedor{
    width: none;
}

#titulo{
    height: 200px;
    background-color:pink;
    display: flex;
    justify-content: center;
    align-items: center;

}

#menu{
    height: 90px;
    background-color:goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
}
#button li {
    padding: 0;
    display: inline;
}
#button a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    text-decoration: none;
    float: left;
    padding: 10px;
    background-color: grey;
    color: black
}
#button li a:hover {
    background-color: #2586d7;
    margin-top: -2;
    padding-bottom: 12px;
    }
#goku{
    height: 200px;
    width: 200px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60%;
    left: 10%;    
}
.imagen {
    width:200px;
    height:200px;
    border-radius:20px;
}

#img1{
    height: 200px;
    width: 200px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60%;
    left: 45%;
    
}
#img2{
    height: 200px;
    width: 200px;
    background-color: white ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60%;
    left: 80%;
    
}

#cuerpo{
    height: 400px;
    background-color: greenyellow;

}

#footer{
    height: 200px;
    
    background-color:yellow;
}